{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>Mejora de imagen</title>
    <script src="{% static 'scripts/carrusel.js' %}"></script> 
    
</head>
<body>
    <header>
    </header>
    <section class="hero">
        <div>
            <h1>Servicios de Mejora de Imagen</h1>
            <p>Transforma tus fotos con nuestros servicios </p>
            {% if user.is_authenticated %}
            <button class="njobs" onclick="window.location.href='njobs/'">Crear orden nueva</button>
            {% else %}
            <button class="comenzar" onclick="window.location.href='signin/'">Comenzar</button>
            {% endif %}
        </div>
    </section>
    <section class="features">
        <div>
            <h2>Qué ofrecemos</h2>
            <div class="feature">
                <h3>Edición profesional</h3>
                <p>Alta calidad en ediciones por nuestros expertos</p>
            </div>
            <div class="feature">
                <h3>Entregas Express</h3>
                <p>recibe todos tus proyectos dentro de 48 horas o menos</p>
            </div>
            <div class="feature">
                <h3>Nos adecuamos a ti</h3>
                <p>Servicios de edición personalizados para satisfacer tus necesidades</p>
            </div>
        </div>
    </section>
    <div class="carrousel">
      
      <a class="carrousel-control prev" href="#">&#10094;</a>
    

      <div class="carrousel-slides">
        <div class="carrousel-slide">
          <img src="{% static 'resources/c1.jpg' %}" alt="Imagen 1">
        </div>
        <div class="carrousel-slide">
          <img src="{% static 'resources/c2_1.jpg' %}" alt="Imagen 2">
        </div>
        <div class="carrousel-slide">
          <img src="{% static 'resources/c3.jpg' %}" alt="Imagen 3">
        </div>
        
      </div>
    
      <!-- Botón para ir a la imagen siguiente -->
      <a class="carrousel-control next" href="#">&#10095;</a>
    </div>
</body>
</html>

{% endblock %}