{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'signup.css' %}">
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
        <h1>Registrarse</h1>
        {% if error %}
        <p class="error-message">{{ error }}</p>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Usuario:</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="id_password1">Contraseña:</label>
                {{ form.password1 }}
            </div>
            <div class="form-group">
                <label for="id_password2">Confirmar contraseña:</label>
                {{ form.password2 }}
            </div>
            <button type="submit">Sign Up</button>
            <p class="login-prompt">¿Ya tienes cuenta? <a href="{% url 'signin' %}">Loguéate aquí</a></p>
        </form>
    </div>
</body>
</html>
{% endblock %}